body{
	margin:0;
	color:#555;
	background-color: #ececec;
	font-size:14px;
}
a{
	color:#f00;
}
.g-hd{
	height: 44px;
	line-height: 44px;
	background-color: #333;
	color:#fff;
}
.g-bd{
	padding-top:44px;
	padding-bottom:44px;
	background-color: #fff;
	&:before{
		content: '.g-bd';
		color:#f30;
	}
}